@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
	overflow-x: hidden;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
	text-align: center;
	font-family: "Roboto";
	background: #fcfcfd;
}
section{
	/* float: left; */
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
#textcont
{
	padding: 20px;
	width: 100%;
	height: 10%;
	background-color: #83858b6e;
	color: rgb(255, 79, 78);
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #007aff;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #007aff;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #007aff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #ffffff;
	border:1px solid #f1f1f1;
	border-radius: 20px;
	transition: all .3s ease-in-out;
	box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.185);
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #FCE257;
	font-size: 20px;
	margin: 0px 3px;
	margin-top: 5px;
}
i.half-star {
	width: 10px;
	position: relative;
	top: 3px;
	overflow: hidden;
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#007aff;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: 20px;
	width: 90px;
	height: 90px;
	transform: translateX(-60%);
	z-index: 20;
}
.testi-avatar img{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.185);
}
.testimonials-text p{
	color: black;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}
.total-home-slider {
	width: 80% !important;
	margin: auto; 
}
.testimonials-text {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.testimonials-text p {
	margin-top: 110px;
}
@media screen and (min-width: 1114px) {
	.testi-item {
		width: 280px;
		margin: auto;
	}
}
@media screen and (min-width: 1055px) {
	.total-home-slider {
		width: 1000px !important;
		margin: auto; 
	}
}
@media screen and (min-width: 1530px) {
	.total-home-slider {
		width: 1500px !important;
	}
	.testi-item {
		width: 400px;
		margin: auto;
	}
	.testimonials-text p {
		font-size: 22px;
	}
	.testimonials-text {
		padding-bottom: 20px;
		padding-left: 35px;
		padding-right: 35px;
	}
}